body {
  font-family: 'Lato',arial,sans-serif;
  font-weight: 300;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  background: rgba(50,90,140,1);
  align-items: center;
}

.offpage {
  position: absolute;
  left: -1000px;
}

.skip {
  color: blue;
  background: white;
  position: absolute;
  top: -200px;
}
.skip:focus {
  position: static;
  color:blue;
  position:absolute;
  top: 40px;
  left: 10px;
  -webkit-transition: linear .25s;
  transition: linear .25s;
  text-decoration: none;
}

header {
  background: rgba(50,90,140,1);
  background-image: linear-gradient(rgba(50,90,140,1), rgba(50,90,140,1), rgba(50,140,200,1));
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header-contact {
 background: rgba(250,250,230,1);
 font-size: .9em;
 width: 100%
}

.header-contact ul{
  justify-content: space-around;
  list-style-type: none;
  padding: 1% 0;
  text-align: center;
}

.header-contact a{
  color: black;
}

.header-contact li{
  padding-bottom: 2%;
}

header img {
  filter: invert(100%);
  align-self: center;
  padding: 3% 0;
  width: 100%;
}

header nav{ 
  font-family: 'Josefin Sans', sans-serif;
  margin: 3% 0;
  font-size: 1.2em;
}  

header nav ul{
  justify-content: space-between;
  text-align: center;
}

header nav li {
  margin-top: .7em;
}

header nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

header nav a:hover,a:focus{
  text-decoration-line: underline;
  text-decoration-style: 
}

header .current {
  font-size: 1.4em;
  font-weight: 700;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/*---------------- MAIN ---------------*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(50,90,140,1);
  background-image: linear-gradient(rgba(50,140,200,1), rgba(50,90,140,1), rgba(50,140,200,1));
}

main img{
  object-fit: cover;
  width: 90%;
  align-self: center;
  max-width: 500px;
  border-radius: 3%;
  border: 2px solid rgba(250,250,230,1);
  margin: 2%;
}

br {
  line-height: 150%;
}

.lead-quote {
  line-height: 120%;
  font-style: italic;
}

.map {
  margin: 2%;
  border-radius: 3%;
  overflow: hidden;
  width: 90%;
}

iframe {
  width: 100%;
  height: 50vh;
  /*border: 2px solid orange;*/
}

main p, main a, main address{
  margin: 1% 6%;
  color: white;
}

main ul{
  color:white;
  margin: 0 6%;
}

main li {
  margin-top: 2%;
  list-style-type: none;
  text-align: center; 
}


.story_scroll {
  background: rgba(250,250,230,1);
  width: 75%;
  padding: 1%;
  border-radius: 1em;
  margin: 1%;
  height: 50vh;
  overflow: scroll;
  align-self: flex-end;
  margin: 2%;
}

.story_scroll p{
  color: black;
}

h2,label,legend {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  margin: 5% 2% 1% 2%;
  color: white;
  text-transform: uppercase;
  line-height: 110%;
  text-align: center;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  margin-top: 1%;
}

.product_gallery {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-top {
  padding: 20px;
  background: rgba(250,250,230,1);
  border-radius: 0 10px 10px 0;
  border: 1px solid black;
  border-left: none;
  color:black;
  position: fixed;
  align-self: flex-start;
  bottom: 30%;
}


.contact_content {
  width: 75%;
  margin-left: 20%;
}

.contact_content h2 {
  text-align: left;
}

fieldset {
  width: 90%;
  margin: 5%;
}

legend {
  margin-bottom: 5%;
}

label {
  margin-left: 15%;
}

input {
  display: block;
  margin: 0 0 5% 30%;
}

input:focus {
  background: lightgrey;
}

input:last-child {
        background: rgba(220,250,220,1);
        border-radius: 5px;
        margin: 5% 0 0 20%;
      }

/*----------- FOOTER THINGS ----------------*/

footer{
  color:rgba(255,255,255,1);
  background: rgba(30,30,30,1);
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

footer ul{
  margin: 3% 0 5% 0;
  display: flex;
  justify-content: space-around;
}

footer  a{
  color: rgba(255,255,255,1);
  margin: 0 10%;
}

footer .current {
  text-decoration-style: wavy;
}

footer a:hover, footer a:focus {
  text-decoration-style: wavy;
  color: white;
}

.footer_credits {
  margin: 1% 0 4% 0;
  text-align: center;
  display: none;
}

/*----------- MEDIA QUERY -----------------*/

/*--------- FOR TABLET / SMALL BROWSER ---------*/

@media screen and (min-width:700px) {
  .header-contact li{
  padding: 0;
  } 
    
  .product_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
  }

  .product_gallery img{
    width: 40%;
  }

  .header-contact ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1% 0;
  }

  .back-to-top {
    display: none;
  }

  header nav {
    font-style: 1em;
    width: 80%;
  }

  header nav ul{
  display: flex;
  justify-content: space-around;
  } 

  .contact_body {
    display:grid;
    grid-template-columns: 1fr 1fr
  }

  .story_scroll {
    align-self: center;
    width: 100%
  }

  .footer_credits {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
  }

  .product {
    align-self: flex-start;
  }

  .map{
    height: 50vh;
  }


}

/*--------- FOR PRINT ---------*/

@media print {
  header img{
    filter: none;
  }

  body {
    margin: 0 .5in .5in .5in;
    color: black;
  }

  * {
    color: black;
  }
  main img, .map {
    display: none;
  }

  .product_gallery {
    display: none; 
  }

  .header-contact ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  }

  .back-to-top {
    display: none;
  }

  header nav {
    width: 100%;
    margin-top: 0;
  }

  header .current {
    color: black;
  }

  header nav ul{
  display: flex;
  justify-content: space-around;
  } 

  h2,h3{
    color: rgba(50,50,50,1);
  }
  
  p, .product p, .lead-quote p, .our-story p, div p, main p, .contact_content address, .contact_content a{
    color: black;
  }

  label,legend {
    color: black;
  }

  .story_scroll {
    width: 100%;
    overflow: visible;
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  footer {
    display: none;
  }

}



